<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/css/app.css}">
</head>
<body>

<div class="auth">
    <div class="auth-card">
        <div class="top">
            <a href="/login">← Login</a>
        </div>

        <h2 class="auth-title">Creare cont client</h2>

        <div th:if="${msg}" class="msg" th:text="${msg}"></div>
        <div th:if="${err}" class="err" th:text="${err}"></div>

        <form action="/register" method="post" autocomplete="off">
            <label>Username</label>
            <input type="text" name="username" placeholder="ex: ion.popescu" required>

            <label>Parola</label>
            <input type="password" name="password" required>

            <button class="btn" type="submit">Creeaza cont</button>
        </form>
    </div>
</div>

</body>
</html>
